@page "/"
@using CheckersDemo.Shared
@using Microsoft.AspNetCore.SignalR.Client;

@code {
    HubConnection hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:44314/connect")
            .Build();

    bool inGame = false;

    protected override async Task OnInitializedAsync()
    {
        await RefreshTables();
    }

    async Task RefreshTables()
    {
        HttpClient httpClient = new();
        tables = await httpClient.GetFromJsonAsync<List<string>>("https://localhost:44314/Checkers/GetTables") ?? new();
    }
    string tableId = "";
    async Task CreateGame()
    {
        await hubConnection.StartAsync();
        tableId = Guid.NewGuid().ToString();
        await hubConnection.SendAsync(HubMethodNames.JoinTale, tableId);
        inGame = true;
    }

    List<string> tables = new();

    async Task JoinGame(string tableId)
    {
        this.tableId = tableId;
        await hubConnection.StartAsync();
        await hubConnection.SendAsync(HubMethodNames.JoinTale, tableId);
        inGame = true;
    }
}


@if (inGame)
{
    <CheckersBoardComponent HubConnection="hubConnection" TableId="@tableId" />
}
else
{
    <button @onclick="CreateGame">Create Game</button>

    foreach (var table in tables)
    {
        <div>
            <button @onclick="() => JoinGame(table)">Join Game @table</button>
        </div>
    }
}




