$black-cell: #b5802d;
$white-cell: #fff6bd;

.board
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &:nth-child(2n) {
            .board__col:nth-child(2n+1) {
                background: $black-cell;
            }
        }

        &:nth-child(2n+1) {
            .board__col:nth-child(2n) {
                background: $black-cell;
            }
        }
    }

    &__col {
        border: 1px solid silver;
        margin: 0 0 -1px -1px;
        width: 80px;
        height: 80px;
        background: $white-cell;
        display: flex;
        justify-content: center;
        align-items: center;
        &-active{
            box-shadow: inset 0 0 0 3px green;
            cursor: pointer;
        }
    }
}


.checker {
    border-radius: 50%;
    border: 1px solid #868686;
    width: 80%;
    height: 80%;
    cursor: pointer;
    position: relative;

    &-white {
        background-color: #fff;

        &::before {
            color: #000;
            border-color: #000;
        }
    }

    &-black {
        background-color: #4f4f4f;

        &::before {
            color: #fff;
            border-color: #fff;
        }
    }

    &-active {
        box-shadow: 0 0 0 3px green;
    }

    &-king {
        &::before {
            content: "";
            width: 55px;
            height: 55px;
            display: block;
            position: absolute;
            transform: translate(-50%, -51%);
            top: 50%;
            left: 50%;
            border-width: 2px;
            border-style: solid;
            border-radius: 50%;
        }
    }
}

