<div class="board">
    @for (int i = 0; i < 8; i++)
    {
        <div class="board__row">
            @for (var j = 0; j < 8; j++)
            {
                <div class="board__col"></div>
            }
        </div>
    }
</div>


@code {

}
