
<div class="board">
    @for (int i = 0; i < 8; i++)
    {
        int row = i;
        <div class="board__row">
            @for (var j = 0; j < 8; j++)
            {
                int col = j;

                var checker = _checkers.FirstOrDefault(x => x.Row == row && x.Column == col);

                @* var checker = _blackCheckers.FirstOrDefault(x => x.Row == row && x.Column == col);
        if (checker == null)
        {
        checker = _whiteCheckers.FirstOrDefault(x => x.Row == row && x.Column == col);
        }*@

                bool canMoveHere = cellsPossible.Contains((row, col));

                <div @onclick="() => MoveChecker(row, col)" class="board__col @(canMoveHere ? "board__col-active": "")">
                    @{
                        if (checker != null)
                        {
                            <div @onclick="() => CheckerClicked(checker)" class="checker checker-@(checker.IsWhite ? "white" : "black" ) @(_activeChecker == checker ? "checker-active": "") @(checker.Direction == CheckerDirection.Both ? "checker-king" : "")"></div>
                        }
                    }
                </div>
            }
        </div>
    }
</div>


@code {
    List<Checker> _checkers = new();
    //List<Checker> _whiteCheckers = new ();
    //List<Checker> _blackCheckers = new ();


    Checker? _activeChecker = null;
    Checker? _beingAttackedChecker = null;
    bool _whiteTurn = true;

    List<(int row, int col)> cellsPossible = new();

    protected override Task OnInitializedAsync()
    {
        for (int row = 0; row < 3; row++)
        {
            for (int col = (row + 1) % 2; col < 8; col += 2)
            {
                _checkers.Add(new Checker(row, col, CheckerDirection.Down, isWhite: false));
            }
        }

        for (int row = 5; row < 8; row++)
        {
            for (int col = (row + 1) % 2; col < 8; col += 2)
            {
                _checkers.Add(new Checker(row, col, CheckerDirection.Up, isWhite: true));
            }
        }

        return base.OnInitializedAsync();
    }

    private void CheckerClicked(Checker checker)
    {
        if (_whiteTurn && !checker.IsWhite ||
            !_whiteTurn && checker.IsWhite)
        {
            return;
        }

        _activeChecker = checker;
        EvaluateCheckerSpots();
    }

    private void EvaluateCheckerSpots()
    {
        cellsPossible.Clear();

        if (_activeChecker != null)
        {
            List<int> rowsPossible = new();
            List<int> colsPossible = new();


            // serch possible cells for a simple move

            if (_activeChecker.Direction == CheckerDirection.Both)
            {
                rowsPossible.AddBoardValues(new[] { _activeChecker.Row + 1, _activeChecker.Row - 1 });
            }
            else
            {
                rowsPossible.AddBoardValue(_activeChecker.Row + (1 * (_activeChecker.Direction == CheckerDirection.Down ? 1 : -1)));
            }

            colsPossible.AddBoardValues(new[] { _activeChecker.Column + 1, _activeChecker.Column - 1 });

            // serch possible cells for a jump move

            List<int> rowsPossibleForJump = new();
            List<int> colsPossibleForJump = new();

            rowsPossibleForJump.AddBoardValues(new[] { _activeChecker.Row + 2, _activeChecker.Row - 2 });
            colsPossibleForJump.AddBoardValues(new[] { _activeChecker.Column + 2, _activeChecker.Column - 2 });

            foreach (int row in rowsPossibleForJump)
                foreach (int col in colsPossibleForJump)
                    if (Math.Abs(_activeChecker.Column - col) == Math.Abs(_activeChecker.Row - row))
                        EvaluateSpotForJump(row, col);

            if (!cellsPossible.Any())
            {
                foreach (int row in rowsPossible)
                    foreach (int col in colsPossible)
                        if (Math.Abs(_activeChecker.Column - col) == Math.Abs(_activeChecker.Row - row))
                            EvaluateSpotForMove(row, col);
            }

        }
    }

    private void EvaluateSpotForJump(int row, int col)
    {
        var checker = _checkers.FirstOrDefault(x => x.Row == row && x.Column == col);

        // checker jump variant
        if (checker == null)
        {
            _beingAttackedChecker = _checkers.FirstOrDefault(x => x.Row == (_activeChecker?.Row + row) / 2 && x.Column == (_activeChecker!.Column + col) / 2);
            if (_beingAttackedChecker != null && _activeChecker?.IsWhite != _beingAttackedChecker.IsWhite)
            {
                cellsPossible.Add((row, col));
            }
        }
    }

    private void EvaluateSpotForMove(int row, int col)
    {
        //simple move variant
        var checker = _checkers.FirstOrDefault(x => x.Row == row && x.Column == col);
        //var blackChecker = _blackCheckers.FirstOrDefault(x => x.Row == row && x.Column == col);
        //var whiteChecker = _whiteCheckers.FirstOrDefault(x => x.Row == row && x.Column == col);



        if (checker == null)
        {
            cellsPossible.Add((row, col));
        }

    }
    private void MoveChecker(int row, int col)
    {

        bool canMoveHere = cellsPossible.Contains((row, col));
        if (!canMoveHere) return;

        if (_activeChecker != null)
        {
            _activeChecker.Column = col;
            _activeChecker.Row = row;

            if (_beingAttackedChecker != null)
            {
                _checkers.Remove(_beingAttackedChecker);
            }

            if (_activeChecker.Row == 0 && _activeChecker.IsWhite ||
                _activeChecker.Row == 7 && !_activeChecker.IsWhite)
            {
                _activeChecker.Direction = CheckerDirection.Both;
            }
        }

        _activeChecker = null;
        _whiteTurn = !_whiteTurn;
        EvaluateCheckerSpots();

    }
}
